<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="card shadow p-0">
      <img src="/images/login-image.jpg" alt="" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title fs-3">Login</h5>
        <form action="/login" method="POST" class="validated-form" novalidate>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              required
              autofocus
            />
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              required
            />
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-success">Login</button>
            <h6 class="card-subtitle text-muted text-center">
              Don't have an account?
              <a href="/register" class="text-decoration-none">Register</a>
            </h6>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
